<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:include="navi :: head">
<body class="background__form no-repeat cover">
<div th:include="navi :: menu"></div>
<section>
<form th:action="@{/findBeerWithName}" th:object="${beer}" method="POST">
    <div class="col-4">
        <input type="text" class="form-control" id="name"
               placeholder="Beer name"
               th:field="*{name}" autofocus/>
    </div>
    <small id="nameHelp" class="form-text text-muted">Input beer name, e.g.: Buzz, Trashy
        Blonde, Pilsen Lager, Electric India
    </small>
    <button class="btn btn-primary" type="submit">Search</button>
</form>
</section>
</body>
</html>